<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OPEN SOURCE</title>
<link href="../../assets/fav.png" type="image/png" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="Introduce_1.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="main.js"></script> -->

<!-- Semantic UI -->
<link rel="stylesheet" type="text/css" href="../../semantic/semantic.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="../../semantic/semantic.js"></script>

<!-- BootStrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div class="Introduce_1">
    <div class="Header">
        <div class="header_container">
          <!-- Home 버튼 -->
          <a href="../MainPage/MainPage.html"><img class="homebutton" src="../../assets/home.png"></a>
          
          <div class="ui left vertical menu sidebar">

              <div class="item">
                  <div class="header">OPEN SOURCE</div>
              </div>
    
              <div class="item">
                <div class="header">오픈소스의 역사</div>
                <div class="menu">
                  <a class="item" href="../History/History_1.html">1980년 이전의 자유 소프트웨어</a>
                  <a class="item" href="../History/History_2.html">자유 소프트웨어를 억압하는 기업들</a>
                  <a class="item" href="../History/History_3.html">자유 소프트웨어 운동의 시작</a>
                  <a class="item" href="../History/History_4.html">오픈소스</a>
                </div>
              </div>
    
              <div class="item">
                <div class="header">오픈소스 소개</div>
                <div class="menu">
                  <a class="item" href="../Introduce/Introduce_1.html">오픈소스의 철학과 정의</a>
                  <a class="item" href="../Introduce/Introduce_2.html">오픈소스 개발 동기</a>
                  <a class="item" href="../Introduce/Introduce_3.html">오픈소스와 법</a>
                  <a class="item" href="../Introduce/Introduce_4.html">오픈소스 라이선스</a>
                  <a class="item" href="../Introduce/Introduce_5.html">오픈소스 단체와 활동</a>
                </div>
              </div>
    
              <img src="../../assets/fav.png" class="sideicon"/>
    
          </div>
  
          <div class="pusher">
            <!-- <button id="contents" class="ui blue basic icon button"> -->
            <button id="contents" class="ui inverted button">
              <i class= "icon bars"></i>
              CONTENTS
            </button>
          </div>
  
          <a class="gitbutton" href="https://github.com/cgm-seungho/z1-web-booklet">
            <button class="ui black button">
              <i class="github icon"></i>
              Github
            </button>
          </a>
  
          <a class="cowbutton" href="https://erica.codeonweb.com/circle/6c222cc0-7eb5-42e2-aac3-0a2d5777c2ca">
            <button class="ui red button">
                <i class="copyright icon"></i>
                CodeOnWeb
              </button>
          </a>
          
          <script>
            $('#contents').click(function(){
              $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            })
          </script>
        </div>
    </div>

    <div class="main">
      <div class="main_text_container">
        <h1>가. 오픈소스의 철학과 정의</h1>
      </div>

      <div class="line"></div>

      <div class="text_container">
        <p>
          &nbsp;&nbsp;오픈소스 소프트웨어는 라이선스 요금이 무료이면서 소스 코드를 개방한 소프트웨어로써 누구나 자유롭게 사용, 활용, 개선할 수 있는 소프트웨어이다. 오픈소스 소프트웨어는 누구라도 소스 코드에 접근할 수 있고 사용자가 능력만 있다면 각종 버그의 수정은 물론, 그것을 개선하여 기능을 추가할 수 있다.
        </p>
        <p>
          &nbsp;&nbsp;즉, 오픈소스 소프트웨어는 프로그램을 복제 및 배포할 수 있는 권리, 소스 코드에 접근할 수 있는 권리, 프로그램을 개선할 수 있는 권리들을 프로그래머 또는 사용자에게 보장해준다.
        </p>
        <p>
          &nbsp;&nbsp;자유 소프트웨어의 생산과 보급을 장려하기 위해 만들어진 자유 소프트웨어 재단(FSF)의 설립자인 리처드 스톨먼(Richard Matthew Stallman)은 자유 소프트웨어 재단을 통해 자유 소프트웨어의 4대 자유를 발표했는데 내용은 다음과 같다.
        </p>
        <p>
          &nbsp;&nbsp;- 실행의 자유 : 사용자나 목적에 차별이 있어서는 안된다.
        </p>
        <p>
          &nbsp;&nbsp;- 연구와 수정의 자유 : 누구든지 해당 소프트웨어의 작동 원리를 파악하고 연구할 수 있어야 하고 이를 위해 소스 코드의 공개와 그에 대한 접근이 보장되어야 한다.
        </p>
        <p>
          &nbsp;&nbsp;- 재배포의 자유 : 수령한 소프트웨어의 수정 버전 또는 수정하지 않은 버전의 소스 코드나 바이너리 코드는 실행 파일 모두를 재배포할 수 있어야 한다.
        </p>
        <p>
          &nbsp;&nbsp;- 수정 프로그램 배포의 자유 : 변경 사항을 자유롭게 배포해 커뮤니티 전체가 그로 인한 이익을 공유할 기회를 제공할 수 있다는 것을 의미한다.
        </p>
      </div>


    </div>
    
  </div>
</body>
</html>
