<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OPEN SOURCE</title>
<link href="../../assets/fav.png" type="image/png" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="Introduce_4.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="main.js"></script> -->

<!-- Semantic UI -->
<link rel="stylesheet" type="text/css" href="../../semantic/semantic.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="../../semantic/semantic.js"></script>

<!-- BootStrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div class="Introduce_4">
    <div class="Header">
        <div class="header_container">
          <!-- Home 버튼 -->
          <a href="../MainPage/MainPage.html"><img class="homebutton" src="../../assets/home.png"></a>
          
          <div class="ui left vertical menu sidebar">

              <div class="item">
                  <div class="header">OPEN SOURCE</div>
              </div>
    
              <div class="item">
                <div class="header">오픈소스의 역사</div>
                <div class="menu">
                  <a class="item" href="../History/History_1.html">1980년 이전의 자유 소프트웨어</a>
                  <a class="item" href="../History/History_2.html">자유 소프트웨어를 억압하는 기업들</a>
                  <a class="item" href="../History/History_3.html">자유 소프트웨어 운동의 시작</a>
                  <a class="item" href="../History/History_4.html">오픈소스</a>
                </div>
              </div>
    
              <div class="item">
                <div class="header">오픈소스 소개</div>
                <div class="menu">
                  <a class="item" href="../Introduce/Introduce_1.html">오픈소스의 철학과 정의</a>
                  <a class="item" href="../Introduce/Introduce_2.html">오픈소스 개발 동기</a>
                  <a class="item" href="../Introduce/Introduce_3.html">오픈소스와 법</a>
                  <a class="item" href="../Introduce/Introduce_4.html">오픈소스 라이선스</a>
                  <a class="item" href="../Introduce/Introduce_5.html">오픈소스 단체와 활동</a>
                </div>
              </div>
    
              <img src="../../assets/fav.png" class="sideicon"/>
    
          </div>
  
          <div class="pusher">
            <!-- <button id="contents" class="ui blue basic icon button"> -->
            <button id="contents" class="ui inverted button">
              <i class= "icon bars"></i>
              CONTENTS
            </button>
          </div>
  
          <a class="gitbutton" href="https://github.com/cgm-seungho/z1-web-booklet">
            <button class="ui black button">
              <i class="github icon"></i>
              Github
            </button>
          </a>
  
          <a class="cowbutton" href="https://erica.codeonweb.com/circle/6c222cc0-7eb5-42e2-aac3-0a2d5777c2ca">
            <button class="ui red button">
                <i class="copyright icon"></i>
                CodeOnWeb
              </button>
          </a>
          
          <script>
            $('#contents').click(function(){
              $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            })
          </script>
        </div>
    </div>

    <div class="main">
      <div class="main_text_container">
        <h1>라. 오픈소스 라이선스</h1>
      </div>

      <div class="line"></div>

      <div class="text_container">
        <p>
          &nbsp;&nbsp;오픈소스 소프트웨어는 최초 창작, 공개된 이후 누구든지 자유롭게 이용, 수정, 배포, 재배포하는 것이 허용된다. 그러나 그런 오픈소스 생태계의 지속과 유지를 위해 최소한의 법적 장치로서 오픈소스에 대한 저작권을 인정하는 것이 미국, 독일 등 주요 국가의 일반적인 법 해석론이고 판례이다. 한국 법에 의하면 라이선스는 저작권자가 라이선서(이용허락자)로서 라이선시(피이용허락자)에게 저작권을 이용을 이용료 부과 등 일정한 조건하에 허락하고, 라이선서와 라이선시가 저작물의 사용, 배포 등과 관련해 가지는 권리와 의무 사항을 정해 합의한 계약이다.
        </p>
        <p>
          &nbsp;&nbsp;오픈소스 라이선스 계약에서는 대가가 무료이어야 하고, 지속적 공급망에서 오픈소스의 정신을 유지하기 위해 라이선시도 수령한 저작물을 수정할 수 있고, 수정의 결과인 2차적 저작물에 대해서는 새로운 라이선서가 될 수 있는 상호 선순환 구조다. 대신에 저작권자가 공개하는 오픈소스 소프트웨어는 현상 그대로 제공할 뿐 그 품질을 보장하지 않고, 저작권자는 사용자가 사용으로 입게 되는 모든 손해에 배상 책임을 지지 않으며 대부분 준거법과 분쟁 해결 기관을 명시하지 않는다. 또한 이용을 허락하는 소프트웨어의 사용자 수나 소프트웨어가 설치되는 컴퓨터 수를 제한하지 않는다.
        </p>
        <p>
          &nbsp;&nbsp;오픈소스 라이선스는 다음과 같이 사용자의 자유로운 사용, 복제, 배포, 수정을 보장하고 있다.
        </p>
        <p>
          &nbsp;&nbsp;- 라이센시는 해당 오픈소스 소프트웨어를 자유롭게 사용할 수 있다.
        </p>
        <p>
          &nbsp;&nbsp;- 라이센시는 해당 오픈소스 소프트웨어를 자유롭게 복제할 수 있으며, 일정한 조건하에 재배포할 수 있다.
        </p>
        <p>
          &nbsp;&nbsp;- 라이센시는 해당 오픈소스 소프트웨어를 자유롭게 수정하여 사용할 수 있으며, 일정한 조건하에 수정된 내용을 재배포할 수 있다.
        </p>
        <p>
          &nbsp;&nbsp;- 라이센시는 해당 오픈소스 소프트웨어의 소스코드를 자유롭게 획득하고 접근할 수 있다.
        </p>
        <p>
          <br/>
          &nbsp;&nbsp;오픈소스 라이선스에서 요구하고 있는 준수사항을 라이센시가 이행하지 않으면 권리자로부터 소송 제기를 받을 수 있다.
        </p>
        <img src="../../assets/introduce4.png"/>
        <p>
          <br/>
          &nbsp;&nbsp;인터넷상에서 자유롭게 구할 수 있는 오픈 소스를 다운로드해 개발에 적용할 때는 반드시 라이선스의 요구 사항을 반드시 확인하여야 한다. 또한, 자체 판단이 불가능할 경우에는 외부 전문가에게 조언을 의뢰하여 개발 시작 전 해당 라이선스의 요구 사항과 오픈 소스 사용 목적을 확실히 분석하여야 한다. 카피레프트는 특정 오픈소스 라이선스가 적용되는 원 소프트웨어가 수정되거 나 다른 소프트웨어와 결합하여 생성되는 2차적 저작물에도 동일 특정 라이선 스를 확대 적용해야 하고 원 소프트웨어 또는 2차적 저작물을 외부에 배포할 때 완전한 해당 소스 코드를 공개해야 하는 속성을 의미한다.
        </p>
        <p>
          &nbsp;&nbsp;라이선스는 철학과 취지를 밝힌 서문과 중요 조건을 규정한 본문으로 구성되는 데 라이선스별로 그 조항 내용의 장단과 구성에 차이가 있다. 본문은 통상 사용 자의 권한 및 사용자의 의무, 보증 부 제공 조항, 소프트웨어의 결합에 관한 조 항, 특허권 부여 및 특허 보복 조항, 유로 판매 금지 조항, 라이선서의 품질보증 책임이나 손해배상 책임을 면제하는 조항이 들어간다. 마지막에 저작권 고지문 에 대한 예시를 제공하는 경우가 많다.
        </p>
      </div>


    </div>
    
  </div>
</body>
</html>
