<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OPEN SOURCE</title>
<link href="../../assets/fav.png" type="image/png" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="Introduce_5.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="main.js"></script> -->

<!-- Semantic UI -->
<link rel="stylesheet" type="text/css" href="../../semantic/semantic.css">
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="../../semantic/semantic.js"></script>

<!-- BootStrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div class="Introduce_5">
    <div class="Header">
        <div class="header_container">
          <!-- Home 버튼 -->
          <a href="../MainPage/MainPage.html"><img class="homebutton" src="../../assets/home.png"></a>
          
          <div class="ui left vertical menu sidebar">

              <div class="item">
                  <div class="header">OPEN SOURCE</div>
              </div>
    
              <div class="item">
                <div class="header">오픈소스의 역사</div>
                <div class="menu">
                  <a class="item" href="../History/History_1.html">1980년 이전의 자유 소프트웨어</a>
                  <a class="item" href="../History/History_2.html">자유 소프트웨어를 억압하는 기업들</a>
                  <a class="item" href="../History/History_3.html">자유 소프트웨어 운동의 시작</a>
                  <a class="item" href="../History/History_4.html">오픈소스</a>
                </div>
              </div>
    
              <div class="item">
                <div class="header">오픈소스 소개</div>
                <div class="menu">
                  <a class="item" href="../Introduce/Introduce_1.html">오픈소스의 철학과 정의</a>
                  <a class="item" href="../Introduce/Introduce_2.html">오픈소스 개발 동기</a>
                  <a class="item" href="../Introduce/Introduce_3.html">오픈소스와 법</a>
                  <a class="item" href="../Introduce/Introduce_4.html">오픈소스 라이선스</a>
                  <a class="item" href="../Introduce/Introduce_5.html">오픈소스 단체와 활동</a>
                </div>
              </div>
    
              <img src="../../assets/fav.png" class="sideicon"/>
    
          </div>
  
          <div class="pusher">
            <!-- <button id="contents" class="ui blue basic icon button"> -->
            <button id="contents" class="ui inverted button">
              <i class= "icon bars"></i>
              CONTENTS
            </button>
          </div>
  
          <a class="gitbutton" href="https://github.com/cgm-seungho/z1-web-booklet">
            <button class="ui black button">
              <i class="github icon"></i>
              Github
            </button>
          </a>
  
          <a class="cowbutton" href="https://erica.codeonweb.com/circle/6c222cc0-7eb5-42e2-aac3-0a2d5777c2ca">
            <button class="ui red button">
                <i class="copyright icon"></i>
                CodeOnWeb
              </button>
          </a>
          
          <script>
            $('#contents').click(function(){
              $('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');
            })
          </script>
        </div>
    </div>

    <div class="main">
      <div class="main_text_container">
        <h1>마. 오픈소스 단체와 활동</h1>
      </div>

      <div class="line"></div>

      <div class="text_container">
        <p>
          - 오픈소스이니셔티브 (OSI, Open Source Initiative)
        </p>
        <p>
          &nbsp;&nbsp;1998년 미국 캘리포니아주에서 설립된 비영리 법인으로 오픈소스의 장 점 등을 널리 알리고 열 가지 요건의 오픈소스 소프트웨어의 정의를 규정 하며, 그 정의에 맞는 라이선스를 인증한다.
        </p>

        <p>
          - 자유소프트웨어재단 (FSF, Free Source Foundation)
        </p>
        <p>
          &nbsp;&nbsp;1985년 리처드 스톨먼 등에 의해 설립되어 자유 소프트웨어 사용자의 자 유를 확보하기 위해 철학에 관한 역사적 문건들을 공표하고, 자유 소프트 웨어의 네 가지 자유를 정립했으며 GPL, LGPL, AGPL 등 GPL 페밀리 라 이선스를 작성, 관리하고 있다. GNU 운영체계의 상당한 부분과 GNU 이 맥스를 포함한 많은 자유 소프트웨어에 대한 저작권을 보유하고 있고, 개 인과 기업들로부터 저작권을 양수받아 미국의 연방 저작권 등록소에 등록 해 두고 GPL 라이선스 위반자에 대해 권리 실행을 한다. 라이선스 침해 행위를 조사해 위반 기업들에 대해 먼저 경고장을 보내고, 위반 행위를 바 로잡도록 유도, 지원하며, 그럼에도 바로잡지 않는 기업들에 대해서는 아 주 드물게 소송을 제기하는 방식으로 컴플라이언스를 실행하고 있다. 2015년에는 커뮤니티를 보호하기 위한 권리 실행 활동에 관한 원칙을 천 명하는 ‘커뮤니티 보호 목적 권리 실행의 원칙’을 발표했다.
        </p>

        <p>
          - 자유소프트웨어유럽재단 (FSFE, Free Software Foundation Europe)
        </p>
        <p>
          &nbsp;&nbsp;유럽에서 설립된 것으로 소프트웨어의 자유에 대한 이해를 도모하고, 그 확산에 대한 지원을 위한 비전을 갖고 교육과 문서화, 라이선스 위반의 시 정, 콘퍼런스 개최 등 법률 관련 활동, 오픈 표준의 제정, 소프트웨어 특허 의 확산 금지 내지는 폐지를 위한 활동, 정부 조달에 자유 소프트웨어의 활용 증대를 위한 활동 등을 활발하게 전개하고 있다.
        </p>

        <p>
          - 리눅스 재단 (LF, Linux Foundtuin)
        </p>
        <p>
          &nbsp;&nbsp;리누스 토르발스가 처음 개발한 GNU 리눅스 운영체제의 개선, 확산과 장 려를 이한 모든 활동들을 영위하고 있다. 기술 및 컴프라이언스에 관한 교 육, 콘퍼런스, 포럼을 개최하고, 자동차, 소비자 가전, SPDX등 워킹 그룹 을 결성해 활동하고, 컴프라이언스 모델과 실행에 관한 많은 문건들을 발 표하고 있다.
        </p>

        <p>
          - GPL바이얼레이션 (GPL-violation)
        </p>
        <p>
          &nbsp;&nbsp;리눅스 커널의 일부를 개발한 독일 개발자 하랄트 벨테가 악의적인 GPL 위 반 회사들을 상대로 권리 실행을 하는 조직으로 2006년에 출범해 100건 이 상의 권리 실행을 했다.
        </p>

        <p>
          - 소프트웨어자유법센터 (SFLC, Software Free Law Center)
        </p>
        <p>
          &nbsp;&nbsp;미국 컬럼비아대학교 로스쿨의 교수인 에벤 모글렌이 설립한 비영리 법인이 다. 자유 소프트웨어 프로젝트와 기업들이 적절한 거버넌스를 구축하도록 지 원하고 자문한다. 저작권 라이선스, 특허권 방어, 상표권과 거버넌스에 관한 컨설팅과 관련 소송 지원 활동을 하고, 저작권 정보를 관리하는 법, ‘GPL 컴 플라이언스에 관한 실무 가이드’ 버전 1, 2 등과 여러 백서, 오픈소스 저작권 밑 특허 소송을 심리하는 법원에 법률의견서를 제출한다.
          <br/><br/>
        </p>

        <h1>
          오픈소스 소프트웨어
        </h1>
        <p>
          - Linux 커널
        </p>
        <p>
          토발즈에 의해 최초로 개발 <br/>
          오늘날 가장 인기 있는 운영체제 중 하나 <br/>
          현재까지도 개발 중
        </p>

        <p>
          - Apache
        </p>
        <p>
          현재 가장 많이 이용되는 웹 서버
        </p>

        <p>
          - Bind
        </p>
        <p>
          가장 많이 이용되는 DNS(Domain Name System) <br/>
          호스트 명을 IP 주소로 변환시켜주는 프로그램으로 인터넷의 인프라를 구성하는 중요한 요소
        </p>

        <p>
          - Mozilla Firefox
        </p>
        <p>
          오픈소스 브라우저 프로젝트
        </p>
      </div>


    </div>
    
  </div>
</body>
</html>
